;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies []
 :dev-http {8080 "public"}
 :builds
 {:shadow-cljs-react
  {:target :browser
   :modules {:main {:init-fn shadow-cljs-react.app/init}}}}}
